.content {
    h2 {
        text-align: center;
    }
    form {
        background-color:#E1EEEF;
        text-align: center;
        height: 500px;
        h5 {
            margin-top: 20px;
            text-align: left;
        }
        input {
            display: block;
            height: 30px;
        }
        textarea {
            display: block;
            height: 150px;
        }
        button {
            height: 35px;
        }
    }
}