body{
    background-color: darkblue;
    header {
        background-color: blue;
        margin-bottom: 25px;
        text-align: center;
        div {
            height: 30px;
            width: 30px;
            background-color: gray;
            display: inline-block;
        }
        h1 {
            display: inline-block;
        }
    }
    footer {
        margin-top: 25px;
        background-color: blue;
        text-align: center;
        div{
            background-color: gray;
            height: 20px;
            width: 20px;
            display: inline-block;
        }
    }
}